<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人简历</title>
    <link rel="stylesheet" href="./static/css/index.css">
    <style>
        /* 背景图样式 */
        body {
            background-image: url(./img/img.jpg) ;
            background-repeat: no-repeat;
            border-style: none;
            background-position:left ;
            background-size: contain;
            background-attachment: fixed;
            background-size: 1005;
        }
    </style>
</head>

<body class="background">
    <!-- 标题 -->
    <div>
        <h1 style="color: tomato;">
            <center>个人简历</center>
        </h1>
        <br>
    </div>

    <!-- 顶部区域 -->
    <header>
        <table class="tabl" border="0">
            <tr>
                <!-- 头像及专业 -->
                <div>
                    <td width="10%">
                    </td>
                    <td width="10%">
                        <img id="head" src="./img/head.png" alt="头像" width="100" height="100">
                    </td>
                    <td class="left" width="10%">
                        <div>
                            <h2 class="h2a">软件工程</h2>
                            <h2 class="h2b">SOFTWARE
                                <br> ENGINEERING</h2>
                        </div>
                    </td>
                    <td width="10%"></td>
                </div>
                <!-- 联系方式 -->
                <div>
                    <td>
                        <h2 class="h2a left">联系方式/社交媒体</h2>
                        <div class="blue2 left">
                            <img src="./img/youxiang.png" alt="">1941837392@qq.com <b style="color: tomato;">|</b><img
                                src="./img/dianhua.png" alt=""> 13566666787<b style="color: tomato;">|</b><br>
                            <img src="./img/weixin.png" alt="">yd_153<b style="color: tomato;">|</b>
                            <img src="./img/weibo.png" alt="">@yeugcy<b style="color: tomato;">|</b>
                        </div>
                    </td>
                </div>
                <td width="10%"></td>
            </tr>
        </table>
    </header>

    <!-- 中间部分 -->
    <div>
        <!-- 身份介绍 -->
        <table class="tabl" border="0">
            <tr height:30%>
                <td width="7%"></td>
                <td width="36%" rowspan="2" style="background-color: tomato;">
                    <div style="text-align: left;">
                        <h2 class="h2b" style="font-family:Bahnschrift; color: white; height: 25px;">
                            &nbsp;&nbsp;&nbsp;PROFILE </h2>
                        <h1 class="h1a" style="line-height: 10px;">
                            &nbsp;&nbsp;肖晓
                        </h1>
                        <br>
                    </div>
                    <h2 class="h2b" style=" color: white; text-align:right">
                        女&nbsp;&nbsp;
                        <br>
                        深圳&nbsp;&nbsp;
                        <br>
                        2000.10.13&nbsp;&nbsp;
                    </h2>
                </td>
                <td width="7%"></td>
                <td width="7%"></td>
                <td width="36%" rowspan="2" width="50%" class="left">
                    <h2 class="h2a">ABOUT ME</h2>
                    <p class="blue2">
                        软件工程专业背景，有丰富的软件开发经验，扎实的技术基础；
                        工作细致认真，积极主动，有耐心，严谨；
                        有较强的逻辑思维能力，善于分析归纳、解决问题；
                        有较强的沟通技巧及团队合作精神，组织协调能力，较强的责任感及进取精神；
                        对技术有浓厚的兴趣，喜欢并不断的学习新技术。
                    </p>
                </td>
                <td width="7%"></td>
            </tr>
            <tr>
                <td class="blue"></td>
                <td class="blue"></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <table class="tabl left" border="0">

            <tr>
                <td width="6%" class="blue"></td>
                <td width="38%" class="blue">
                    <h2 class="h2c">
                        教育经历
                    </h2>
                    <h3 class="h3a" style="color: white;">
                        EDUCATION BACKGROUND
                    </h3>
                    <div style="float: left; margin-top: 00px;width: 1px;height: 255px; background:tomato"></div>
                    <!-- 教育经历 -->
                    <div class="h3a">
                        <nav>
                            <h3>&nbsp;&nbsp;谜之大学</h3>

                            <div style="color:white;">
                                &nbsp;&nbsp;<b>软件工程|本科</b> 2012.09-2016.07
                            </div>
                            <h3 class="h3a">&nbsp;&nbsp;主修课程:</h3>
                            <ul style="color: white;">
                                C/C++c程序设计、Java程序设计、数据结构、计算方法、编辑原理、软件工程、操作系统原理、数据库系统原理、网络数据库等
                            </ul>
                            <p class="red">&nbsp;&nbsp;GPA:3.0~4.0 在校期间无挂科情况</p>
                        </nav>
                    </div>
                </td>
                <td width="6%" class="blue"></td>
                <td width="7%"></td>
                <!-- 技能 -->
                <td width="36%">
                    <h2 class="h2b">专业技能 <small style="font-size: 20px;" class="red">SKILLS</small> </h2>
                    <b class="red">
                        熟悉数据库原理和常用性能优化技术及NOSQL Queen的原理、使用场景及限制。
                    </b> 
                    <br>
                    <h2 class="h2b">语言技能 <small style="font-size: 20px;" class="red">LANGUAGE</small></h2>

                    <nav class="blue2">
                        <b>
                            <div style="float: left; ; margin-top: 10px;width: 150px;height: 6px; background:tomato"></div><div style="float: left; ; margin-top: 10px;width: 10px;height: 6px; background: gray;"></div><p>&nbsp;&nbsp;英语</p>
                            <div style="float: left; ; margin-top: 10px;width: 100px;height: 6px; background:tomato"></div><div style="float: left; ; margin-top: 10px;width: 60px;height: 6px; background: gray;"></div><p>&nbsp;&nbsp;日语</p>
                        </b>
                    </nav>
                </td>
                <td width=7%></td>
            </tr>
            <tr>
                <td class="blue"></td>
                <td class="blue">
                    <h2 class="h2c">工作经历</h2>
                    <h3 class="h3a" style="color: white;">WORK EXPERIENCE</h3>
                    <div style="float: left; margin-top: 00px;width: 1px;height: 255px; background:tomato"></div>
                    <h3 class="h3a">&nbsp;&nbsp; 墨汁办公有限公司</h3>
                    <p class="white"> &nbsp;&nbsp;&nbsp;<b>java工程师</b> 2016.09-2019.07</p>
                    <nav class="white">
                        <ul>
                            <li>根据产品需求，完成任务分析设计，完成详细设计和编码</li>
                            <li>负责后端API设计和开发维护，从构思到执行，编写架构好的后端代码</li>
                            <li>协助其他人员的开发测试，完成测试阶段的BUG修改</li>
                        </ul>
                    </nav>
                </td>
                <td class="blue"></td>
                <td></td>
                <td>
                    <h2 class="h2b">奖项荣誉<small style="font-size: 20px;" class="red">AWARDS</small></h2>
                    <nav class="blue2">
                        IOS 2019&nbsp;&nbsp;<small style="color: tomato;">Gold</small>
                        <br> PAT
                        <br> The software designer 
                    </nav>
                    <h2 class="h2b">兴趣爱好<small style="font-size: 20px;" class="red"> HOBBIES</small></h2>
                    <img src="./img/run.png" alt="">&nbsp;&nbsp;<img src="./img/music.png" alt="">&nbsp;<img
                        src="./img/huihua.png" alt="">&nbsp;<img src="./img/fly.png" alt="">
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</body>

</html>